<div crud-breadcrumbs="{{ctrl.image.id ? 'edit' : 'create'}}"></div>
<h2>
    <span ng-hide="ctrl.image.id">Create Image</span>
    <span ng-show="ctrl.image.id">Edit Image</span>
</h2>

<div flash-message ></div>

<form name="form" class="form-horizontal" role="form" novalidate> 

    <div>
        <button crud-button="save" item="ctrl.image" is-disabled="form.$invalid"></button>
        <span ng-if="ctrl.image.id"><button crud-button="delete" item="ctrl.image"></button></span>
    </div>

</form>