<div crud-breadcrumbs="show"></div>
<h2>Show Employee</h2>
<div flash-message ></div>

<table class="table table-bordered table-striped">
    <tr display-field label="First Name" value="ctrl.employee.firstName"></tr>
    <tr display-field label="Last Name" value="ctrl.employee.lastName"></tr>
    <tr display-field label="Birth Date" value="ctrl.employee.birthDate | date: 'MMM d, yyyy'"></tr>
    <tr display-field label="Salary" value="ctrl.employee.salary"></tr>
</table>

<div class="form-actions">
    <button crud-button="edit" item="ctrl.employee"></button>
    <button crud-button="delete" item="ctrl.employee" ></button>
</div>